doctype html
html
	head
		title= title
		link(rel='stylesheet' href='/stylesheets/style.css')
		script(src="https://cdn.jsdelivr.net/npm/lodash@4/lodash.min.js")
		//- script(src="https://cdn.jsdelivr.net/npm/lodash@4/_apply.min.js")
		//- script(src="https://cdn.jsdelivr.net/npm/lodash@4/_arrayAggregator.min.js")
		//- script(src="https://cdn.jsdelivr.net/npm/lodash@4/_arrayEach.min.js")
		//- script(src="https://cdn.jsdelivr.net/npm/lodash@4/_arrayEachRight.min.js")
		//- script(src="https://cdn.jsdelivr.net/npm/lodash@4/_arrayEvery.min.js")
		//- script(src="https://cdn.jsdelivr.net/npm/lodash@4/_arrayFilter.min.js")
		//- script(src="https://cdn.jsdelivr.net/npm/lodash@4/_arrayIncludes.min.js")
		//- script(src="https://cdn.jsdelivr.net/npm/lodash@4/_arrayIncludesWith.min.js")
		//- script(src="https://cdn.jsdelivr.net/npm/lodash@4/_arrayLikeKeys.min.js")
		script(src="https://code.jquery.com/jquery-3.6.0.min.js"
			integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			crossorigin="anonymous")
		script(src="/javascripts/main.js")
	body(onload="init_board()")
		block content
